.App{
  margin: 0;
  padding: 0;
}
.Home{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.Home header{
  margin: 0;
  padding: 0;
  height: 10vh;
  width: 100%;
  background-color: brown;

}
.Home header h1{
  text-align: center;
  color: blanchedalmond;
  flex-direction: column;

}
.Home .retour{
align-self: center;
}
/* {About styling} */
.About{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.About header{
  margin: 0;
  padding: 0;
  height: 10vh;
  width: 100%;
  background-color: brown;

}
.About header h1{
  text-align: center;
  color: blanchedalmond;
  flex-direction: column;
}
.About .retour{
align-self: center;
}